<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FontSizeStyle</key>
	<dict>
		<key>BigestFontSize</key>
		<integer>33</integer>
		<key>NavigationFontSize</key>
		<integer>19</integer>
		<key>NormalFontSize</key>
		<integer>17</integer>
		<key>SmallFontSize</key>
		<integer>15</integer>
		<key>SmallSmallFontSize</key>
		<integer>13</integer>
	</dict>
	<key>ColorStyle</key>
	<dict>
		<key>LineColor</key>
		<string>0x9d9d9d</string>
		<key>PageBackgroundColor</key>
		<string>EE6688</string>
		<key>NavigationBarTintColor</key>
		<string>0xefefef</string>
		<key>NavigationTintColor</key>
		<string>0xd4d4d4</string>
		<key>NormalTextColor</key>
		<string>0xd4d4d4</string>
		<key>TextColor2</key>
		<string>0x585858</string>
		<key>CoolTextColor</key>
		<string>0xd83a85</string>
		<key>WarmTextColor</key>
		<string>0xB4204E</string>
		<key>MainColor</key>
		<string>0x2F33E2</string>
		<key>MainOpposeColor</key>
		<string>0xffffff</string>
		<key>PlaceholderColor</key>
		<string>0xaaaaaa</string>
	</dict>
	<key>ImageStyle</key>
	<dict/>
	<key>SizeStyle</key>
	<dict>
		<key>NormalCornerRadius</key>
		<integer>10</integer>
	</dict>
</dict>
</plist>
